<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloPerfil.css" rel="stylesheet" type="text/css" />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>MI PERFIL</h2>
      <form
        action="#"
        th:object="${usuario}"
        th:action="@{/modificarPerfil}"
        method="POST"
      >
        <fieldset>
          <input
            type="hidden"
            for="id"
            name="id"
            th:field="*{id}"
            th:errorclass="fieldError"
          />
          <section>
            <div>
              <label for="nombre">Nombre: </label>
              <input
                type="text"
                for="nombre"
                name="nombre"
                th:field="*{nombre}"
                th:errorclass="fieldError"
              />
            </div>

            <small
              th:if="${#fields.hasErrors('nombre')}"
              th:errors="*{nombre}"
            ></small>
          </section>

          <section>
            <div>
              <label>Apellidos: </label>
              <input
                type="text"
                name="apellido"
                th:field="*{apellido}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('apellido')}"
              th:errors="*{apellido}"
            >
            </small>
          </section>

          <section>
            <div>
              <label>Dirección:</label>
              <input
                type="text"
                name="direccion"
                th:field="*{direccion}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('direccion')}"
              th:errors="*{direccion}"
            ></small>
          </section>
          <section>
            <div>
              <label>Código postal: </label>
              <input
                type="text"
                name="cod_postal"
                th:field="*{cod_postal}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('cod_postal')}"
              th:errors="*{cod_postal}"
            ></small>
          </section>

          <section>
            <div>
              <label>Población: </label>
              <input
                type="text"
                name="poblacion"
                th:field="*{poblacion}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('poblacion')}"
              th:errors="*{poblacion}"
            ></small>
          </section>

          <section>
            <div>
              <label>Email: </label>
              <input
                type="email"
                name="email"
                th:field="*{email}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></small>
          </section>

          <section>
            <div>
              <label>Teléfono: </label>
              <input
                type="tel"
                name="telefono"
                th:field="*{telefono}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('telefono')}"
              th:errors="*{telefono}"
            ></small>
          </section>

          <section>
            <div>
              <label>NIF: </label>
              <input
                type="text"
                name="nif"
                th:field="*{nif}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('nif')}"
              th:errors="*{nif}"
            ></small>
          </section>

          <section>
            <div>
              <label>Año nacimiento: </label>
              <input type="text" name="anoNac" th:field="*{anoNac}" />
            </div>
            <small
              th:if="${#fields.hasErrors('anoNac')}"
              th:errors="*{anoNac}"
            ></small>
          </section>

          <section>
            <div>
              <label>Contraseña: </label>
              <input type="text" name="contrasenya" />
            </div>
          </section>
          <div>
            <input
              class="boton"
              type="submit"
              id="btnModificarPerfil"
              name="btnModificarPerfil"
              value="Modificar"
            />
          </div>
          <br />
        </fieldset>
      </form>
    </main>
    <aside>
      <h2>TABLÓN DE NOTAS</h2>
      <p>sección en construcción</p>
    </aside>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
