<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloPerfil.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/votacionhistorico.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <section>
        <h2>MI PERFIL</h2>
        <form
          action="#"
          th:object="${usuario}"
          th:action="@{/modificarPerfil}"
          method="POST"
        >
          <fieldset>
            <input
              type="hidden"
              name="id"
              th:field="*{id}"
              th:errorclass="fieldError"
            />

            <section>
              <div>
                <label>Nombre: </label>
                <input
                  type="text"
                  name="nombre"
                  th:field="*{nombre}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('nombre')}"
                th:errors="*{nombre}"
              ></small>
            </section>
            <section>
              <div>
                <label>Apellidos: </label>
                <input
                  type="text"
                  name="apellido"
                  th:field="*{apellido}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('apellido')}"
                th:errors="*{apellido}"
              >
              </small>
            </section>
            <section>
              <div>
                <label>Dirección:</label>
                <input
                  type="text"
                  name="direccion"
                  th:field="*{direccion}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('direccion')}"
                th:errors="*{direccion}"
              ></small>
            </section>
            <section>
              <div>
                <label>Cod. postal: </label>
                <input
                  type="text"
                  name="cod_postal"
                  th:field="*{cod_postal}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('cod_postal')}"
                th:errors="*{cod_postal}"
              ></small>
            </section>
            <section>
              <div>
                <label>Población: </label>
                <input
                  type="text"
                  name="poblacion"
                  th:field="*{poblacion}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('poblacion')}"
                th:errors="*{poblacion}"
              ></small>
            </section>
            <section>
              <div>
                <label>Email: </label>
                <input
                  type="email"
                  name="email"
                  th:field="*{email}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"
              ></small>
              <small
                th:if="${emailrepetido}"
                th:text="${emailrepetido}"
              ></small>
            </section>
            <section>
              <div>
                <label>Teléfono: </label>
                <input
                  type="tel"
                  name="telefono"
                  th:field="*{telefono}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('telefono')}"
                th:errors="*{telefono}"
              ></small>
            </section>
            <section>
              <div>
                <label>NIF: </label>
                <input
                  type="text"
                  name="nif"
                  th:field="*{nif}"
                  th:errorclass="fieldError"
                />
              </div>
              <small
                th:if="${#fields.hasErrors('nif')}"
                th:errors="*{nif}"
              ></small>
              <small th:if="${dnimal1}" th:text="${dnimal1}"></small>
              <small th:if="${dnimal2}" th:text="${dnimal2}"></small>
            </section>
            <section>
              <div>
                <label>Año nacimiento: </label>
                <input type="text" name="anoNac" th:field="*{anoNac}" />
              </div>
              <small
                th:if="${#fields.hasErrors('anoNac')}"
                th:errors="*{anoNac}"
              ></small>
            </section>
            <section>
              <div>
                <label>Contraseña: </label>
                <input type="text" name="contrasenya" />
              </div>
            </section>

            <div>
              <input
                class="boton"
                type="submit"
                id="btnModificarPerfil"
                name="btnModificarPerfil"
                value="Modificar"
              />
            </div>
            <small th:if="${error}" th:text="${error}"></small>
            <small th:if="${modificar}" th:text="${modificar}"></small>
            <br />
          </fieldset>
        </form>
      </section>

      <section>
        <h2>MIS PRÉSTAMOS ACTUALES</h2>
        <table class="tablaCatalogo">
          <thead>
            <tr>
              <th class="inputancho1">Título</th>
              <th class="inputancho1">Autor</th>
              <th>Devolver</th>
            </tr>
          </thead>
          <tbody class="bodytabla">
            <tr th:each="prestamo : ${pageprestamo}">
              <td class="inputancho1" th:text="${prestamo.Libro.titulo}"></td>
              <td
                class="inputancho1"
                th:text="${prestamo.Libro.getAutor().getNombre()+' '+prestamo.Libro.getAutor().getApellido()}"
              ></td>
              <td
                th:text="${#dates.format(prestamo.fDevolEstimada, 'dd-MM-yy')}"
              ></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>MI HISTORIAL</h2>
        <div>
          <table class="tablaCatalogo">
            <thead>
              <tr>
                <th class="tdancho7">Título</th>
                <th class="tdancho7">Autor</th>
                <th class="tdancho6">Leído</th>
                <th class="tdancho6">Puntuación</th>
              </tr>
            </thead>
            <tbody class="bodytabla">
              <tr th:each="entrada : ${pagehistorico}">
                <td class="tdancho7" th:text="${entrada.Libro.titulo}"></td>
                <td
                  class="tdancho7"
                  th:text="${entrada.Libro.getAutor().nombre+ ' ' +entrada.Libro.getAutor().apellido}"
                ></td>
                <td
                  class="fontpq tdancho6"
                  th:text="${#dates.format(entrada.fDevolucion, 'dd-MM-yy')}"
                ></td>
                <td class="fontpq tdancho6">
                  <span th:id="pintarestrella + ${entrada.id}"></span>
                  <div
                    th:with="puntuacion=${entrada.votacion} ? ${entrada.votacion.puntuacion.valor} : '0'"
                  >
                    <script th:inline="javascript">
                      var entradaId = /*[[${entrada.id}]]*/ "0";
                      var pintarestrella = document.getElementById(
                        "pintarestrella" + entradaId
                      );

                      var puntuac = /*[[${puntuacion}]]*/ 0;
                      var iconoVotado =
                        puntuac < 3
                          ? "fas fa-thumbs-down yellow "
                          : "fas fa-thumbs-up yellow ";
                      var iconoVacio = "far fa-thumbs-up ";

                      for (let i = 0; i < 5; i++) {
                        var star = crearElementoTexto("span", pintarestrella);
                        iconostar = crearElementoTexto("i", star);
                        star.setAttribute(
                          "class",
                          "pointer hovyell " +
                            (i < puntuac ? iconoVotado : iconoVacio)
                        );
                        star.addEventListener("click", function () {
                          cambiaPuntuacion(i + 1, /*[[${entrada.id}]]*/ "0");
                        });
                      }
                    </script>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
