<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloAdmin.css" rel="stylesheet" type="text/css" />

    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/zonaAdmin.js"></script>
    <title>Administración</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>

    <div class="nav" th:insert="fragments/nav :: nav"></div>

    <div class="main" th:insert="fragments/zonaAdmin :: main"></div>

    <section class="contenido" id="contenido">
      <h2>PRÉSTAMOS</h2>
      <div class="alturaMin">
        <div class="tabla scrollX">
          <div class="thead">
            <div class="th tdancho5">
              <div th:if="${sortBy ne 'usuario'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=usuario&order=asc'}"
                >
                  User <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'usuario'}" th:if="${order eq 'asc'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=usuario&order=desc'}"
                  >User <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'usuario'}"
                th:if="${order eq 'desc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=usuario&order=asc'}"
                  >User <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th inputancho2">
              <div th:if="${sortBy ne 'libro'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=libro&order=asc'}"
                >
                  Libro <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'libro'}" th:if="${order eq 'asc'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=libro&order=desc'}"
                  >Libro<i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'libro'}" th:if="${order eq 'desc'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=libro&order=asc'}"
                  >Libro<i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th tdancho7">
              <div th:if="${sortBy ne 'fPrestamo'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fPrestamo&order=asc'}"
                >
                  Préstamo <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fPrestamo'}"
                th:if="${order eq 'asc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fPrestamo&order=desc'}"
                  >Préstamo <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fPrestamo'}"
                th:if="${order eq 'desc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fPrestamo&order=asc'}"
                  >Préstamo <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th tdancho5">
              <div th:if="${sortBy ne 'fDevolEstimada'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fDevolEstimada&order=asc'}"
                >
                  Plazo <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolEstimada'}"
                th:if="${order eq 'asc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fDevolEstimada&order=desc'}"
                >
                  Plazo<i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolEstimada'}"
                th:if="${order eq 'desc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/prestamo?sortby=fDevolEstimada&order=asc'}"
                >
                  Plazo<i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th tdancho2">Borrar</div>
          </div>
          <div class="tbody" id="bodyprestamo">
            <div class="tr" th:each="prestamos : ${prestamo}">
              <div
                class="td tdancho5"
                th:text="${prestamos.Usuario.nombre+ ' ' +prestamos.Usuario.apellido}"
              ></div>
              <div
                class="td inputancho2"
                th:text="${prestamos.Libro.titulo}"
              ></div>
              <div
                class="td tdancho7"
                th:text="${#dates.format(prestamos.fPrestamo, 'dd-MM-yy HH:mm')}"
              ></div>
              <div
                class="td tdancho5"
                th:text="${#dates.format(prestamos.fDevolEstimada, 'dd-MM-yy')}"
              ></div>
              <div class="td tdancho2">
                <form
                  th:action="@{'/prestamo/borrar/'+${prestamos.id}}"
                  method="POST"
                >
                  <button
                    class="boton ancho"
                    id="btnBorrarPrestamo"
                    name="btnBorrarPrestamo"
                    th:value="${prestamos.id}"
                  >
                    <i class="fas fa-trash-alt"></i>
                    <span class="ocultarMovil"> Borrar</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${ !paginas.isEmpty() }">
        <div class="navPagination">
          <ul class="pagination">
            <li class="page-item" th:each="pagina : ${paginas}">
              <a
                class="page-link"
                th:text="${pagina}"
                th:href="@{'/admin/prestamo?page='+${pagina}+'&sortby='+${sortBy}+'&order='+${order}}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
