<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloAdmin.css" rel="stylesheet" type="text/css" />

    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/zonaAdmin.js"></script>
    <title>Administración</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <div class="main" th:insert="fragments/zonaAdmin :: main"></div>
    <section class="contenido" id="contenido">
      <h2>Autor</h2>
      <div class="tabla">
        <form th:object="${autor}" th:action="@{/newAutor}" method="POST">
          <input
            class="boton2"
            autofocus
            type="text"
            name="nombre"
            th:field="*{nombre}"
            list="nombreList"
            placeholder="Nombre"
            th:errorclass="fieldError"
          />
          <small
            th:if="${#fields.hasErrors('nombre')}"
            th:errors="*{nombre}"
          ></small>
          <datalist id="nombreList">
            <option
              th:each="autor : ${autores}"
              th:value="${autor.getNombre()}"
              th:data-value="${autor.getId()}"
            ></option>
          </datalist>
          <input
            class="boton2"
            autofocus
            type="text"
            name="apellido"
            list="apellidoList"
            placeholder="Apellido"
            th:field="*{apellido}"
            th:errorclass="fieldError"
          />
          <small
            th:if="${#fields.hasErrors('apellido')}"
            th:errors="*{apellido}"
          ></small>
          <datalist id="apellidoList">
            <option
              th:each="autor : ${autores}"
              th:value="${autor.getApellido()}"
              th:data-value="${autor.getId()}"
            ></option>
          </datalist>
          <button
            class="boton ancho"
            id="btnNewAutor"
            name="btnNewAutor"
            type="submit"
          >
            <i class="fas fa-save"></i>
            <span class="ocultarMovil"> Guardar</span>
          </button>
          <br />
        </form>
      </div>
      <br />
      <div>
        <div class="tabla">
          <div class="thead">
            <div class="th tdancho1">
              <div th:if="${sortBy ne 'nombre'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=nombre&order=asc'}"
                >
                  Nombre <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'nombre'}" th:if="${order eq 'asc'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=nombre&order=desc'}"
                  >Nombre <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'nombre'}" th:if="${order eq 'desc'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=nombre&order=asc'}"
                  >Nombre <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th tdancho1">
              <div th:if="${sortBy ne 'apellido'}">
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=apellido&order=asc'}"
                >
                  Apellido <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'apellido'}"
                th:if="${order eq 'asc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=apellido&order=desc'}"
                  >Apellido <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'apellido'}"
                th:if="${order eq 'desc'}"
              >
                <a
                  class="thfalso"
                  th:href="@{'/admin/autor?page=1&sortby=apellido&order=asc'}"
                  >Apellido <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </div>
            <div class="th tdancho2">Editar</div>
            <div class="th tdancho2">Borrar</div>
          </div>
          <div class="tbody">
            <div class="tr" th:each="autor : ${autorestodos}">
              <form th:action="@{/autor/editar}" method="POST">
                <div class="td tdancho1">
                  <input
                    class="inputancho1"
                    type="text"
                    name="nombre"
                    th:value="${autor.nombre}"
                  />
                </div>
                <div class="td tdancho1">
                  <input
                    class="inputancho1"
                    type="text"
                    name="apellido"
                    th:value="${autor.apellido}"
                  />
                </div>
                <div class="td tdancho2">
                  <button
                    class="boton ancho"
                    type="submit"
                    id="btnEditarAutor"
                    name="id"
                    th:value="${autor.id}"
                  >
                    <i class="fas fa-edit"></i>
                    <span class="ocultarMovil"> Editar</span>
                  </button>
                </div>
              </form>
              <div class="td tdancho2">
                <form th:action="@{'/autor/borrar/'+${autor.id}}" method="POST">
                  <button
                    class="boton ancho"
                    id="btnBorrarAutor"
                    name="btnBorrarAutor"
                    th:value="${autor.id}"
                  >
                    <i class="fas fa-trash-alt"></i>
                    <span class="ocultarMovil"> Borrar</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${ !paginas.isEmpty() }">
        <div class="navPagination">
          <ul class="pagination">
            <li class="page-item" th:each="pagina : ${paginas}">
              <a
                class="page-link"
                th:text="${pagina}"
                th:href="@{'/admin/autor?page='+${pagina}+'&sortby='+${sortBy}+'&order='+${order}}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
