<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloPerfil.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/votacion.js"></script>
    <script src="/js/borrarPerfilUsuario.js"></script>

    <title>borrar Perfil</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <section>
        <h2>PERFIL</h2>
        <form action="#" th:object="${usuario}" method="POST">
          <fieldset>
            <section>
              <div>
                <label for="id">Id: </label>
                <input
                  type="text"
                  for="id"
                  name="id"
                  th:field="*{id}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label for="nombre">Nombre: </label>
                <input
                  type="text"
                  for="nombre"
                  name="nombre"
                  th:field="*{nombre}"
                  readonly
                />
              </div>
            </section>

            <section>
              <div>
                <label>Apellidos: </label>
                <input
                  type="text"
                  name="apellido"
                  th:field="*{apellido}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label>Dirección:</label>
                <input
                  type="text"
                  name="direccion"
                  th:field="*{direccion}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label>Cod. postal: </label>
                <input
                  type="text"
                  name="cod_postal"
                  th:field="*{cod_postal}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label>Población: </label>
                <input
                  type="text"
                  name="poblacion"
                  th:field="*{poblacion}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label>Email: </label>
                <input type="email" name="email" th:field="*{email}" readonly />
              </div>
            </section>
            <section>
              <div>
                <label>Teléfono: </label>
                <input
                  type="tel"
                  name="telefono"
                  th:field="*{telefono}"
                  readonly
                />
              </div>
            </section>
            <section>
              <div>
                <label>NIF: </label>
                <input type="text" name="nif" th:field="*{nif}" readonly />
              </div>
            </section>
            <section>
              <div>
                <label>Año nacimiento: </label>
                <input
                  type="text"
                  name="anoNac"
                  th:field="*{anoNac}"
                  readonly
                />
              </div>
            </section>
          </fieldset>
        </form>
        <button
          class="boton"
          name="btnBorrarPerfil"
          id="btnBorrarPerfil"
          th:value="${usuario.id}"
        >
          <i class="fas fa-trash-alt"></i>
          Borrar
        </button>
        <br />
      </section>

      <section>
        <h2>PRÉSTAMOS ACTUALES</h2>
        <table class="tablaCatalogo">
          <thead>
            <tr>
              <th class="inputancho1">Título</th>
              <th class="inputancho1">Autor</th>
              <th>Devolver</th>
            </tr>
          </thead>
          <tbody class="bodytabla">
            <tr th:each="prestamo : ${pageprestamo}">
              <td class="inputancho1" th:text="${prestamo.Libro.titulo}"></td>
              <td
                class="inputancho1"
                th:text="${prestamo.Libro.getAutor().getNombre()+' '+prestamo.Libro.getAutor().getApellido()}"
              ></td>
              <td
                th:text="${#dates.format(prestamo.fDevolEstimada, 'dd-MM-yy')}"
              ></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>HISTORIAL</h2>
        <div>
          <table class="tablaCatalogo">
            <thead>
              <tr>
                <th class="tdancho7">Título</th>
                <th class="tdancho7">Autor</th>
                <th>Leído</th>
                <th>Puntuación</th>
              </tr>
            </thead>
            <tbody class="bodytabla">
              <tr th:each="entrada : ${pagehistorico}">
                <td class="tdancho7" th:text="${entrada.Libro.titulo}"></td>
                <td
                  class="tdancho7"
                  th:text="${entrada.Libro.getAutor().nombre+ ' ' +entrada.Libro.getAutor().apellido}"
                ></td>
                <td
                  class="fontpq tdancho6"
                  th:text="${#dates.format(entrada.fDevolucion, 'dd-MM-yy')}"
                ></td>
                <td class="fontpq tdancho6">
                  <span th:id="pintarestrella + ${entrada.id}"></span>
                  <div
                    th:with="puntuacion=${entrada.votacion} ? ${entrada.votacion.puntuacion.valor} : '0'"
                  >
                    <script th:inline="javascript">
                      var entradaId = /*[[${entrada.id}]]*/ "0";
                      var pintarestrella = document.getElementById(
                        "pintarestrella" + entradaId
                      );

                      var puntuac = /*[[${puntuacion}]]*/ 0;
                      var iconoVotado =
                        puntuac < 3
                          ? "fas fa-thumbs-down yellow"
                          : "fas fa-thumbs-up yellow";
                      var iconoVacio = "far fa-thumbs-up";

                      for (let i = 0; i < 5; i++) {
                        var star = crearElementoTexto("span", pintarestrella);
                        iconostar = crearElementoTexto("i", star);
                        star.setAttribute(
                          "class",
                          "hovyell " + (i < puntuac ? iconoVotado : iconoVacio)
                        );
                      }
                    </script>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
