<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloAdmin.css" rel="stylesheet" type="text/css" />
    <link href="/css/animaciones.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/zonaAdmin.js"></script>
    <title>Administración</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>

    <div class="nav" th:insert="fragments/nav :: nav"></div>

    <div class="main" th:insert="fragments/zonaAdmin :: main"></div>

    <section class="contenido" id="contenido">
      <h2>PRÉSTAMOS</h2>
      <table class="tablaCatalogo1" id="tablaPrestamo">
        <thead>
          <tr>
            <th>
              <div th:if="${sortBy ne 'usuario'}">
                <a th:href="@{'/admin/prestamo?sortby=usuario&order=asc'}">
                  Usuario <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'usuario'}" th:if="${order eq 'asc'}">
                <a th:href="@{'/admin/prestamo?sortby=usuario&order=desc'}"
                  >Usuario <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'usuario'}"
                th:if="${order eq 'desc'}"
              >
                <a th:href="@{'/admin/prestamo?sortby=usuario&order=asc'}"
                  >Usuario <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
            <th>
              <div th:if="${sortBy ne 'libro'}">
                <a th:href="@{'/admin/prestamo?sortby=libro&order=asc'}">
                  Libro <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'libro'}" th:if="${order eq 'asc'}">
                <a th:href="@{'/admin/prestamo?sortby=libro&order=desc'}"
                  >Libro<i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'libro'}" th:if="${order eq 'desc'}">
                <a th:href="@{'/admin/prestamo?sortby=libro&order=asc'}"
                  >Libro<i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
            <th>
              <div th:if="${sortBy ne 'fPrestamo'}">
                <a th:href="@{'/admin/prestamo?sortby=fPrestamo&order=asc'}">
                  Fecha préstamo <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fPrestamo'}"
                th:if="${order eq 'asc'}"
              >
                <a th:href="@{'/admin/prestamo?sortby=fPrestamo&order=desc'}"
                  >Fecha préstamo <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fPrestamo'}"
                th:if="${order eq 'desc'}"
              >
                <a th:href="@{'/admin/prestamo?sortby=fPrestamo&order=asc'}"
                  >Fecha préstamo <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
            <th>
              <div th:if="${sortBy ne 'fDevolucionEstimada'}">
                <a
                  th:href="@{'/admin/prestamo?sortby=fDevolucionEstimada&order=asc'}"
                >
                  Plazo <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolucionEstimada'}"
                th:if="${order eq 'asc'}"
              >
                <a
                  th:href="@{'/admin/prestamo?sortby=fDevolucionEstimada&order=desc'}"
                >
                  Plazo<i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolucionEstimada'}"
                th:if="${order eq 'desc'}"
              >
                <a
                  th:href="@{'/admin/prestamo?sortby=fDevolucionEstimada&order=asc'}"
                >
                  Plazo<i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
            <th>
              <div th:if="${sortBy ne 'fDevolucion'}">
                <a th:href="@{'/admin/prestamo?sortby=fDevolucion&order=asc'}">
                  Devolución <i class="fas fa-sort"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolucion'}"
                th:if="${order eq 'asc'}"
              >
                <a th:href="@{'/admin/prestamo?sortby=fDevolucion&order=desc'}">
                  Devolución<i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'fDevolucion'}"
                th:if="${order eq 'desc'}"
              >
                <a th:href="@{'/admin/prestamo?sortby=fDevolucion&order=asc'}">
                  Devolución<i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="bodytabla1" id="bodyprestamo">
          <tr th:each="prestamos : ${prestamo}">
            <td>
              <a th:text="${prestamos.Usuario.nombre}" />
            </td>
            <td>
              <a th:text="${prestamos.Libro.titulo}" />
            </td>
            <td
              th:text="${#dates.format(prestamos.fPrestamo, 'dd-MM-yyyy HH:mm')}"
            />
            <td>
              <a
                th:text="${#dates.format(prestamos.fDevolucionEstimada, 'dd-MM-yyyy HH:mm')}"
              ></a>
            </td>
            <td>
              <a
                th:text="${#dates.format(prestamos.fDevolucion, 'dd-MM-yyyy')}"
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
