<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloAdmin.css" rel="stylesheet" type="text/css" />
    <link href="/css/animaciones.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/zonaAdmin.js"></script>
    <title>Administración</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>

    <div class="main" th:insert="fragments/zonaAdmin :: main"></div>
    <section class="contenido" id="contenido">
      <h2>Añadir género</h2>
      <div>
        <input
          class="boton"
          autofocus
          type="text"
          name="selgenero"
          id="selgenero"
          list="generoList"
          placeholder="Buscar género"
        />
        <datalist id="generoList">
          <option
            th:each="generos: ${genero}"
            th:value="${generos.getNombre()}"
            th:data-value="${generos.getId()}"
          ></option>
        </datalist>
      </div>
      <div>
        <form th:object="${genero}" th:action="@{/newGenero}" method="POST">
          <input
            class="boton"
            type="text"
            name="newgenero"
            id="newgenero"
            placeholder="nuevo género"
          />
          <input
            class="boton"
            type="submit"
            id="btnNewGenero"
            name="btnNewGenero"
            value="Guardar"
          />
        </form>
      </div>
      <table class="tablaCatalogo1" id="tablaGenero">
        <thead>
          <table>
            <th>
              <div th:if="${sortBy ne 'nombre'}">
                <a th:href="@{'/admin/genero?sortby=nombre&order=asc'}">
                  Género <i class="fas fa-sort"></i
                ></a>
              </div>
              <div th:unless="${sortBy ne 'nombre'}" th:if="${order eq 'asc'}">
                <a th:href="@{'/admin/genero?sortby=nombre&order=desc'}"
                  >Usuario <i class="fas fa-sort-up"></i
                ></a>
              </div>
              <div
                th:unless="${sortBy ne 'nombre'}"
                th:if="${order eq 'desc'}"
              >
                <a th:href="@{'/admin/genero?sortby=nombre&order=asc'}"
                  >Usuario <i class="fas fa-sort-down"></i
                ></a>
              </div>
            </th>
            <th>Modificar</th>
            <th>Borrar</th>
            <tbody class="bodytabla1" id="bodygenero">
              <form th:each="generos : ${genero}">
                <tr>
                  <td th:text="${generos.nombre}">
                  </td>
                  <td>
                    <button  class="boton" id="btnEditarGenero" name="btnEditarGenero" th:value="${generos.id}">
                      Editar
                    </button> 
                  </td>
                  <td>
                    <button class="boton" id="btnBorrarGenero" name="btnBorrarGenero" th:value="${generos.id}">
                    Borrar
                    </button>
                  </td>
                </tr>
              </form>
            </tbody>
          </table>
          
    </section>

    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
