<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloAdmin.css" rel="stylesheet" type="text/css" />
    
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/nav.js"></script>
    <script src="/js/zonaAdmin.js"></script>
    <title>Administración</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <div class="main" th:insert="fragments/zonaAdmin :: main"></div>
    <section class="contenido" id="contenido">
      <h2>Libro</h2>
      <div class="alturaMin">
      <div class="tabla">        
        <a class="pintaEnlace" th:href="@{'/admin/newLibro'}">
          <button class="tdancho trHover">Nuevo Libro</button>
        </a>
      </div>
    </br>
      <div >
        <table class="tablaCatalogo scrollX" >
          <thead>
            <tr>
              <th class="tdancho4">
                <div th:if="${sortBy ne 'id'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=id&order=asc'}"
                    >ID <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'id'}" th:if="${order eq 'asc'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=id&order=desc'}"
                    >ID <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'id'}" th:if="${order eq 'desc'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=id&order=asc'}"
                    >ID <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'titulo'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=titulo&order=asc'}">
                    Título <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'titulo'}"
                  th:if="${order eq 'asc'}"
                >
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=titulo&order=desc'}"
                    >Título <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'titulo'}"
                  th:if="${order eq 'desc'}"
                >
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=titulo&order=asc'}"
                    >Título <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Autor.nombre'}">
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Autor.nombre&order=asc'}"
                  >
                    Autor <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Autor.nombre'}"
                  th:if="${order eq 'asc'}"
                >
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Autor.nombre&order=desc'}"
                    >Autor <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Autor.nombre'}"
                  th:if="${order eq 'desc'}"
                >
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Autor.nombre&order=asc'}"
                    >Autor <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Categoria.nombre'}">
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Categoria.nombre&order=asc'}"
                  >
                    Categ. <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Categoria.nombre'}"
                  th:if="${order eq 'asc'}"
                >
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Categoria.nombre&order=desc'}"
                    >Categ. <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Categoria.nombre'}"
                  th:if="${order eq 'desc'}"
                >
                  <a class="thfalso"
                    th:href="@{'/admin/libro?page=1&sortby=Categoria.nombre&order=asc'}"
                    >Categ. <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Isbn'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=Isbn&order=asc'}">
                    ISBN <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'Isbn'}" th:if="${order eq 'asc'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=Isbn&order=desc'}"
                    >ISBN <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'Isbn'}" th:if="${order eq 'desc'}">
                  <a class="thfalso" th:href="@{'/admin/libro?page=1&sortby=Isbn&order=asc'}"
                    >ISBN <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>              
            </tr>
          </thead>
          <tbody class="bodytabla" >
            <tr class="trHover" th:each="book : ${libro}">
              <td class="tdancho4" th:text="${book.id}" />
              <td>
                <a class="pintaEnlace"
                  th:text="${book.titulo}"
                  th:href="@{'/editaLibro/' + ${book.id}}"
                />
              </td>
              <td
                th:text="${book.getAutor().nombre+ ' ' +book.getAutor().apellido}"
              />
              <td th:text="${book.getCategoria().nombre}" />
              <td class="tdancho3" th:text="${book.isbn}" />              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
        <div th:if="${!paginas.isEmpty() }">
          <div class="navPagination">
            <ul class="pagination">              
              <li class="page-item" th:each="pagina : ${paginas}">
                <a
                  class="page-link"
                  th:text="${pagina}"
                  th:href="@{'/admin/libro?page='+${pagina}+'&sortby='+${sortBy}+'&order='+${order}}"
                ></a>
              </li>             
            </ul>
          </div>
        </div> 
          
    </section>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
