<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/estiloLogin.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div th:insert="fragments/header :: header"></div>
    <main>
      <form th:object="${usuario}" th:action="@{/form/login}" method="POST">
        <fieldset>
          <legend><h2>Login Usuario</h2></legend>
          <label>Email: </label><br />
          <input type="email" th:field="*{username}" /><br />
          <label>Contraseña:</label><br />
          <input type="text" th:field="*{password}" /><br />
          <br />
          <input class="boton" type="submit" id="btnEntrar" value="Entrar" />
        </fieldset>
      </form>

      <fieldset>
        <legend><h2>Visitante</h2></legend>
        <br />
        <form th:object="${usuario}" th:action="@{/form/login}" method="POST">
          <input type="hidden" value="visi@tante.ante" name="username" />
          <input type="hidden" value="visitante" name="password" />
          <input class="boton" type="submit" id="btnEntrar" value="Entrar" />
        </form>
        <form
          th:object="${usuario}"
          th:action="@{/form/registro}"
          method="POST"
        >
          <input
            class="boton"
            type="submit"
            id="btnRegistro"
            name="btnRegistro"
            value="Registrate"
          />
        </form>
      </fieldset>
      <!-- muestra notificacion de  error -->
      <div th:if="${param.error}">
        <label
          >Nombre de usuario o contraseña incorrectos. <br />
          Invalid username or password.</label
        >
      </div>

      <!-- muestra notificacion de logout -->
      <div th:if="${param.logout}">
        Sesión cerrada correctamente. <br />You have been logged out.
      </div>
    </main>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
