<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloLogin.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/login.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <main>
      <form th:object="${usuario}" th:action="@{/form/login}" method="POST">
        <fieldset>
          <legend><h2>Login Usuario</h2></legend>
          <label>Email: </label><br />
          <input type="email" th:field="*{username}" /><br />

          <label>Contraseña:</label><br />
          <input type="password" id="password" th:field="*{password}" />
          <button id="btnOjo" class="btnOjo">
            <i class="fas fa-eye-slash"></i>
          </button>
          <br />
          <br />
          <input class="boton" type="submit" id="btnEntrar" value="Entrar" />
        </fieldset>
      </form>

      <fieldset>
        <legend><h2>Visitante</h2></legend>
        <br />
        <form th:object="${usuario}" th:action="@{/form/login}" method="POST">
          <input type="hidden" value="visi@tante.ante" name="username" />
          <input type="hidden" value="visitante" name="password" />
          <input class="boton" type="submit" value="Entrar" />
        </form>
        <form
          th:object="${usuario}"
          th:action="@{/form/registro}"
          method="POST"
        >
          <input
            class="boton"
            type="submit"
            name="btnRegistro"
            value="Registrate"
          />
        </form>
      </fieldset>
      <!-- muestra notificacion de  error -->
      <div th:if="${param.error}">
        <label
          >Nombre de usuario o contraseña incorrectos. <br />
          Invalid username or password.</label
        >
      </div>
    </main>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
