<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloLogin.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <main>
      <form
        action="#"
        th:object="${usuario}"
        th:action="@{/registro}"
        method="POST"
      >
        <fieldset>
          <legend><h2>Registro nuevo usuario</h2></legend>
          <section>
            <div>
              <label for="nombre">Nombre: </label>
              <input
                type="text"
                for="nombre"
                name="nombre"
                th:field="*{nombre}"
                th:errorclass="fieldError"
              />
            </div>

            <small
              th:if="${#fields.hasErrors('nombre')}"
              th:errors="*{nombre}"
            ></small>
          </section>

          <section>
            <div>
              <label>Apellidos: </label>
              <input
                type="text"
                name="apellido"
                th:field="*{apellido}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('apellido')}"
              th:errors="*{apellido}"
            >
            </small>
          </section>

          <section>
            <div>
              <label>Dirección:</label>
              <input
                type="text"
                name="direccion"
                th:field="*{direccion}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('direccion')}"
              th:errors="*{direccion}"
            ></small>
          </section>
          <section>
            <div>
              <label>Código postal: </label>
              <input
                type="text"
                name="cod_postal"
                th:field="*{cod_postal}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('cod_postal')}"
              th:errors="*{cod_postal}"
            ></small>
          </section>

          <section>
            <div>
              <label>Población: </label>
              <input
                type="text"
                name="poblacion"
                th:field="*{poblacion}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('poblacion')}"
              th:errors="*{poblacion}"
            ></small>
          </section>

          <section>
            <div>
              <label>Email: </label>
              <input
                type="email"
                name="email"
                th:field="*{email}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></small>
            <small th:if="${emailrepetido}" th:text="${emailrepetido}"></small>
          </section>

          <section>
            <div>
              <label>Teléfono: </label>
              <input
                type="tel"
                name="telefono"
                th:field="*{telefono}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('telefono')}"
              th:errors="*{telefono}"
            ></small>
          </section>

          <section>
            <div>
              <label>NIF: </label>
              <input
                type="text"
                name="nif"
                th:field="*{nif}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('nif')}"
              th:errors="*{nif}"
            ></small>
            <small th:if="${dnimal1}" th:text="${dnimal1}"></small>
            <small th:if="${dnimal2}" th:text="${dnimal2}"></small>
          </section>

          <section>
            <div>
              <label>Año nacimiento: </label>
              <input type="text" name="anoNac" th:field="*{anoNac}" />
            </div>
            <small
              th:if="${#fields.hasErrors('anoNac')}"
              th:errors="*{anoNac}"
            ></small>
          </section>

          <section>
            <div>
              <label>Contraseña: </label>
              <input
                type="password"
                name="contrasenya"
                th:field="*{contrasenya}"
                th:errorclass="fieldError"
              />
            </div>
            <small
              th:if="${#fields.hasErrors('contrasenya')}"
              th:errors="*{contrasenya}"
            ></small>
          </section>
          <div>
            <input
              class="boton"
              type="submit"
              id="btnEntrar"
              name="btnEntrar"
              value="Registrar"
            />
            <input
              class="boton"
              type="submit"
              id="btnVolverLogin"
              name="btnVolverLogin"
              value="Ir al Login"
            />
          </div>
          <br />
        </fieldset>
      </form>
    </main>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
