<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <body>
    <div id="popup2" class="popup" th:fragment="carroReserva">
      <button id="cerrarReserva">X</button>
      <h2>Carrito reserva</h2>
      <table id="tabla" class="carritotabla">
        <thead id="cabeceratablareserva" class="carritothead"></thead>
        <tbody id="tablareserva" class="carritotbody"></tbody>
      </table>
    </div>
  </body>
</html>
