<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <link href="/css/general.css" rel="stylesheet" type="text/css" />
  <body>
    <header>
      <img
        th:src="@{/img/libro-abierto1.jpg}"
        src="img/libro-abierto1.png"
        alt="libro abierto"
      />
      <h1>Agencia de lectura</h1>
      <img
        th:src="@{/img/libreria.jpg}"
        src="img/libreria.jpg"
        alt="estanteria libros"
      />
    </header>
  </body>
</html>
