<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/estilos.css" rel="stylesheet" type="text/css" />

  <body>
    <div class="mensajeentrante" th:fragment="mensajeerror">
      <div>
        <h5 id="titulomensajeerror"></h5>
        <button id="cerrarError">X</button>
      </div>
      <div >
        <p class="textomensajeerror" id="textomensajeerror"></p>
      </div>
    </div>
  </body>
</html>
