<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/estilos.css" rel="stylesheet" type="text/css" />

  <body>
    <nav class="nav" th:fragment="nav">
      <ul class="ul-Nav-Primer">
        <li>
          <a th:href="@{/index}"><i class="icon-home"></i>Inicio</a>
        </li>
        <li>
          <a th:href="@{/catalogo}"><i class="icon-book"></i>Catálogo</a>
        </li>
        <li>
          <a th:href="@{/club}"><i class="icon-group"></i>Club </a>
        </li>
        <li>
          <a th:href="@{/noticias}"><i class="icon-info-sign"></i>Noticias</a>
        </li>
        <li>
          <a id="perfil" th:href="@{/perfil}"
            ><i class="icon-user"></i>Mi perfil</a
          >
          <!--<a th:href="@{/perfil }"><i class="icon-user"></i>Mi perfil</a>-->
        </li>
        <li sec:authorize="hasRole('ROLE_RESERVAR_LIBRO')">
          <a id="carrito"><i class="icon-shopping-cart"></i>Mi carrito</a>
        </li>
        <li>
          <a th:href="@{/logout}"><i class="icon-signout"></i>Salir</a>
        </li>
      </ul>
      <!---<ul class="ul-Nav-Secund">
        <li>
          <a th:href="@{/perfil }"><i class="icon-user"></i>Mi perfil</a>
        </li>
        <li>
          <a th:href="@{/carrito }"
            ><i class="icon-shopping-cart"></i> Mi carrito</a
          >
        </li>
      </ul>-->
    </nav>
  </body>
</html>
