<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <script src="/js/zonaAdmin.js"></script>
  <body>
    <main class="main" th:fragment="main">
      <button class="acordeon">Sección Libro</button>
      <div class="panel">
        <a th:href="@{/admin/libro}">
          <button class="btnAcordeon">Nuevo libro</button>
        </a>
        <a th:href="@{/admin/autor}">
          <button class="btnAcordeon">Nuevo autor</button>
        </a>
        <a th:href="@{/admin/genero}">
          <button class="btnAcordeon">Nuevo género</button>
        </a>
        <a th:href="@{/admin/categoria}">
          <button class="btnAcordeon">Nueva categoría</button>
        </a>
      </div>
      <button class="acordeon">Sección Usuario</button>
      <div class="panel">
        <button class="btnAcordeon">Nuevo usuario</button>
        <button class="btnAcordeon">Editar/borrar usuario</button>
      </div>
      <button class="acordeon">Sección reservas</button>
      <div class="panel">
        <a th:href="@{/admin/todasReservas}">
          <button class="btnAcordeon" id="btnVerReservas">Ver</button>
        </a>
      </div>
      <button class="acordeon">Sección prestamos</button>
      <div class="panel">
        <button class="btnAcordeon">Ver</button>
        <button class="btnAcordeon">Nuevo prestamo</button>
        <button class="btnAcordeon">Borrar prestamo</button>
      </div>
      <section class="contenido" id="contenido"></section>
    </main>
  </body>
</html>
