<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloCatalogo.css" rel="stylesheet" type="text/css" />

    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/agencia.js"></script>
    <script src="/js/nav.js"></script>

    <title>Catalogo</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CATÁLOGO</h2>

      <div class="boxBuscar">
        <select class="boton" name="selgenero" id="selgenero">
          <option selected value="">Buscar género</option>
          <option
            th:each="genero : ${generos}"
            th:text="${genero.getNombre()}"
            th:value="${genero.getId()}"
          ></option>
        </select>
        <select class="boton" name="selcategoria" id="selcategoria">
          <option selected value="">Buscar categoría</option>
          <option
            th:each="categoria : ${categorias}"
            th:text="${categoria.getNombre()}"
            th:value="${categoria.getId()}"
          ></option>
        </select>
        <input
          class="boton"
          autofocus
          type="text"
          name="selautor"
          id="selautor"
          list="autorList"
          placeholder="Buscar Autor"
        />
        <datalist id="autorList">
          <option
            th:each="autor : ${autores}"
            th:value="${autor.getNombre()} + ' ' + ${autor.getApellido()}"
            th:data-value="${autor.getId()}"
          ></option>
        </datalist>
        <form th:object="${libro}" th:action="@{/catalogo}" method="GET">
          <input
            class="boton"
            type="submit"
            id="btnMostrar"
            name="btnMostrar"
            value="Mostrar Todo"
          />
        </form>
      </div>
      <br />
      <div class="alturaMin">
        <table class="tablaCatalogo">
          <thead>
            <tr>
              <th>
                <div th:if="${sortBy ne 'id'}">
                  <a
                    class="thfalso pintaEnlace"
                    th:href="@{'/catalogo?page=1&sortby=id&order=asc'}"
                    >ID <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'id'}" th:if="${order eq 'asc'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=id&order=desc'}"
                    >ID <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'id'}" th:if="${order eq 'desc'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=id&order=asc'}"
                    >ID <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'titulo'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=titulo&order=asc'}"
                  >
                    Título <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'titulo'}"
                  th:if="${order eq 'asc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=titulo&order=desc'}"
                    >Título <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'titulo'}"
                  th:if="${order eq 'desc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=titulo&order=asc'}"
                    >Título <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Autor.nombre'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Autor.nombre&order=asc'}"
                  >
                    Autor <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Autor.nombre'}"
                  th:if="${order eq 'asc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Autor.nombre&order=desc'}"
                    >Autor <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Autor.nombre'}"
                  th:if="${order eq 'desc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Autor.nombre&order=asc'}"
                    >Autor <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Categoria.nombre'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Categoria.nombre&order=asc'}"
                  >
                    Categoría <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Categoria.nombre'}"
                  th:if="${order eq 'asc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Categoria.nombre&order=desc'}"
                    >Categoría <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div
                  th:unless="${sortBy ne 'Categoria.nombre'}"
                  th:if="${order eq 'desc'}"
                >
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Categoria.nombre&order=asc'}"
                    >Categoría <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th>
                <div th:if="${sortBy ne 'Isbn'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Isbn&order=asc'}"
                  >
                    ISBN <i class="fas fa-sort"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'Isbn'}" th:if="${order eq 'asc'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Isbn&order=desc'}"
                    >ISBN <i class="fas fa-sort-up"></i
                  ></a>
                </div>
                <div th:unless="${sortBy ne 'Isbn'}" th:if="${order eq 'desc'}">
                  <a
                    class="thfalso"
                    th:href="@{'/catalogo?page=1&sortby=Isbn&order=asc'}"
                    >ISBN <i class="fas fa-sort-down"></i
                  ></a>
                </div>
              </th>
              <th sec:authorize="hasRole('ROLE_RESERVAR_LIBRO')">Reserva</th>
            </tr>
          </thead>
          <tbody class="bodytabla" id="bodytabla">
            <tr class="trHover" th:each="book : ${libros}">
              <td th:text="${book.id}" />
              <td>
                <a
                  class="pintaEnlace"
                  th:text="${book.titulo}"
                  th:href="@{'/libro/' + ${book.id}}"
                />
              </td>
              <td
                th:text="${book.getAutor().nombre+ ' ' +book.getAutor().apellido}"
              />
              <td th:text="${book.getCategoria().nombre}" />
              <td th:text="${book.isbn}" />
              <td sec:authorize="hasRole('ROLE_RESERVAR_LIBRO')">
                <button class="btnDetRes" name="reserva" th:value="${book.id}">
                  <i class="fas fa-check"></i>
                  Reserva
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${ !paginas.isEmpty() }">
        <div class="navPagination" id="navPagination">
          <ul class="pagination">
            <li class="page-item" th:each="pagina : ${paginas}">
              <a
                class="page-link"
                th:text="${pagina}"
                th:href="@{'/catalogo?page='+${pagina}+'&sortby='+${sortBy}+'&order='+${order}}"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
