<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <script src="/js/agencia.js"></script>
    <script src="/js/carrito.js"></script>

    <title>Catalogo</title>
  </head>
  <body>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CATÁLOGO</h2>
      Buscar
      <select name="selgenero" id="selgenero">
        <option selected value="">- genero-</option>
        <option
          th:each="genero : ${generos}"
          th:text="${genero.getNombre()}"
          th:value="${genero.getId()}"
        ></option>
      </select>
      <select name="selcategoria" id="selcategoria">
        <option selected value="">- categoria-</option>
        <option
          th:each="categoria : ${categorias}"
          th:text="${categoria.getNombre()}"
          th:value="${categoria.getId()}"
        ></option>
      </select>
      <select name="selautor" id="selautor">
        <option selected value="">- autor-</option>
        <option
          th:each="autor : ${autores}"
          th:text="${autor.getNombre()} + ' ' + ${autor.getApellido()}"
          th:value="${autor.getId()}"
        ></option>
      </select>
      <form th:object="${libro}" th:action="@{/catalogo}" method="GET">
        <input
          type="submit"
          id="btnMostrar"
          name="btnMostrar"
          value="Mostrar Todo"
        />
      </form>
      <br />
      <table>
        <thead>
          <tr>
            <th class="oculto">ID</th>
            <th>Titulo</th>
            <th class="oculto">Autor</th>
            <th class="oculto">Categoria</th>
            <th class="oculto">ISBN</th>
            <th class="oculto">Ubicacion</th>
            <th>Reserva</th>
          </tr>
        </thead>
        <tbody id="bodytabla">
          <tr th:each="book : ${libros}">
            <td class="oculto" th:text="${book.id}" />
            <td th:text="${book.titulo}" />
            <td
              class="oculto"
              th:text="${book.getAutor().nombre+ ' ' +book.getAutor().apellido}"
            />
            <td class="oculto" th:text="${book.getCategoria().nombre}" />
            <td class="oculto" th:text="${book.isbn}" />
            <td class="oculto" th:text="${book.ubicacion}" />
            <td>
              <button name="reserva" type="submit" th:value="${book.id}">
                Reserva
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div th:if="${ !paginas.isEmpty() }">
        <nav>
          <ul>
            <li th:each="pagina : ${paginas}">
              <a th:ref="@{/?page=${pagina}}" th:text="${pagina}"></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- muestra notificacion de situacion libro -->
      <!--<div th:switch="${session.situacion}">
        <span th:case="DISPONIBLE">Reserva correcta. Dispone de 2 dias para recogerlo</span>
        <span th:case="PRESTADO">Este libro esta prestado. No puede realizar la reserva</span>
        <span th:case="RESERVADO">Este libro esta reservado. No puede realizar la reserva/span>
      </div>
      </div>-->
    </main>
    <aside>
      <h2>TABLÓN DE NOTAS</h2>
      <p>novedades de libros</p>
      <div id="contenedor_carro">
        <h3>Carrito reserva</h3>
        <table id="tabla">
          <thead>
            <tr>
              <th>Id Libro</th>
              <th>Titulo</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody id="tablareserva"></tbody>
        </table>
      </div>
    </aside>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
