<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilocatalogo.css" rel="stylesheet" type="text/css" />
    <link href="/css/animaciones.css" rel="stylesheet" type="text/css" />
    <link href="/css/notas.css" rel="stylesheet" type="text/css" />
    <script src="/js/agencia.js"></script>
    <script src="/js/reserva.js"></script>

    <title>Catalogo</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CATÁLOGO</h2>
      <div class="todapantalla" id="popupcontenedor">
        <div id="popup" class="popup">
          <button id="cerrarDetalles">X</button>
          <div>
            <label>Id Libro</label>
            <input id="valorId" value="" readonly />
          </div>
          <div>
            <label>Titulo</label> <input id="valorTitulo" value="" readonly />
          </div>
          <div>
            <label>Autor</label> <input id="valorAutor" value="" readonly />
          </div>
          <div>
            <label>Isbn</label> <input id="valorIsbn" value="" readonly />
          </div>
          <div>
            <label>Editorial</label>
            <input id="valorEditorial" value="" readonly />
          </div>
          <div>
            <label>Genero</label>
            <input id="valorGenero" value="" readonly />
          </div>
          <div>
            <label>Categoría</label>
            <input id="valorCategoria" value="" readonly />
          </div>
          <div>
            <label>Ubicación</label>
            <input id="valorUbicacion" value="" readonly />
          </div>
          <div>
            <label>Situación</label>
            <input id="valorSituacion" value="" readonly />
          </div>
        </div>
      </div>
      <div class="todapantalla" id="errorcontenedor">
        <div
          th:insert="fragments/mensaje :: mensajeerror"
          id="mensajeerror"
          class="oculto"
        ></div>
      </div>
      <div class="boxBuscar">
        <select class="boton" name="selgenero" id="selgenero">
          <option selected value="">Buscar género</option>
          <option
            th:each="genero : ${generos}"
            th:text="${genero.getNombre()}"
            th:value="${genero.getId()}"
          ></option>
        </select>
        <select class="boton" name="selcategoria" id="selcategoria">
          <option selected value="">Buscar categoría</option>
          <option
            th:each="categoria : ${categorias}"
            th:text="${categoria.getNombre()}"
            th:value="${categoria.getId()}"
          ></option>
        </select>
        <input
          class="boton"
          autofocus
          type="text"
          name="selautor"
          id="selautor"
          list="autorList"
          placeholder="Buscar Autor"
        />
        <datalist id="autorList">
          <option
            th:each="autor : ${autores}"
            th:value="${autor.getNombre()} + ' ' + ${autor.getApellido()}"
            th:data-value="${autor.getId()}"
          ></option>
        </datalist>
        <form th:object="${libro}" th:action="@{/catalogo}" method="GET">
          <input
            class="boton"
            type="submit"
            id="btnMostrar"
            name="btnMostrar"
            value="Mostrar Todo"
          />
        </form>
      </div>
      <br />
      <table class="tablaCatalogo" id="tablaCatalogo">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>ISBN</th>
            <th>Ubicación</th>
            <th>Detalles</th>
            <th>Reserva</th>
          </tr>
        </thead>
        <tbody class="bodytabla" id="bodytabla">
          <tr th:each="book : ${libros}">
            <td th:text="${book.id}" />
            <td th:text="${book.titulo}" />
            <td
              th:text="${book.getAutor().nombre+ ' ' +book.getAutor().apellido}"
            />
            <td th:text="${book.getCategoria().nombre}" />
            <td th:text="${book.isbn}" />
            <td th:text="${book.ubicacion}" />
            <td>
              <button
                class="btnDetRes"
                name="detalles"
                type="submit"
                th:value="${book.id}"
              >
                Detalles
              </button>
            </td>
            <td>
              <button
                class="btnDetRes"
                name="reserva"
                type="submit"
                th:value="${book.id}"
              >
                Reserva
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div th:if="${ !paginas.isEmpty() }">
        <nav>
          <ul class="pagination">
            <li><a class="page-link" href="#!">&laquo;</a></li>
            <li class="page-item" th:each="pagina : ${paginas}">
              <a
                class="page-link"
                th:ref="@{catalogo?page=${pagina}}"
                th:text="${pagina}"
              ></a>
            </li>
            <li><a class="page-link" href="#!">&raquo;</a></li>
          </ul>
        </nav>
      </div>
    </main>
    <aside>
      <h2>TABLÓN DE NOTAS</h2>
      <p>sección en construcción</p>
      <div class="todapantalla" id="popupcontenedor2">
        <div id="popup2" class="popup">
          <button id="cerrarReserva">X</button>
          <!--<div class="contenedor_carro" id="contenedor_carro">-->
          <h2>Carrito reserva</h2>
          <table id="tabla">
            <thead id="cabeceratablareserva"></thead>
            <tbody id="tablareserva"></tbody>
          </table>
        </div>
      </div>
    </aside>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
