<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />

    <title>Club Lectura</title>
  </head>
  <body>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CLUB DE LECTURA</h2>
      <form th:object="${usuario}" th:action="@{/inscripcion}" method="POST">
        <fieldset>
          <label>Inscribete al club de Lectura</label>
          <input class:"boton" type="submit" id="btnInscrip" name="btnInscrip"
          value="Inscripcion" /><input class:"boton" type="submit"
          id="btnAnularInscrip" name="btnAnularInscrip"
          value="Anular_Inscripcion" />
        </fieldset>
      </form>

      <p>
        Lectura elegida, el administrador debe poder poner el nombre del libro
      </p>
      <iframe
        frameborder="2"
        th:src="@{https://www.youtube.com/embed/qMrxaMF97DA}"
      >
      </iframe>

      <section>
        <h4>COMENTARIOS SOBRE LA LECTURA</h4>
        <textarea>
un textarea o algo parecido para escribir comentarios</textarea
        >
      </section>
    </main>
    <aside>
      <h2>TABLÓN DE NOTAS</h2>
      <p>horario reuniones lectura</p>
      <p>buzon sugerencias lecturas</p>
      <p>Lista Inscriptores</p>
    </aside>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
