<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link
      href="/css/estiloclubInscriptor.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>

    <script src="/js/nav.js"></script>
    <title>Club Lectura</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CLUB DE LECTURA</h2>

      <form
        th:object="${usuario}"
        th:action="@{/anularinscripcion}"
        method="POST"
      >
        <fieldset>
          <input
            class="btnDetRes"
            type="submit"
            id="btnAnularInscrip"
            name="btnAnularInscrip"
            value="Anular inscripción Club"
          />
        </fieldset>
      </form>

      <p>
        Lectura elegida:
        <!--<span th:text="${book.title}"></span>-->
        Las voces del Pamano
      </p>

      <section>
        <h4>IMÁGENES SOBRE LA LECTURA</h4>
        <iframe
          frameborder="2"
          th:src="@{https://www.youtube.com/embed/qMrxaMF97DA}"
        >
        </iframe>
      </section>
      <section>
        <h4>COMENTARIOS SOBRE LA LECTURA</h4>
        <textarea class="textinput" placeholder="Comment">
un textarea o algo parecido para escribir comentarios</textarea
        >
      </section>
    </main>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
