<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <link href="/css/estiloclub.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/9d750b8f51.js"
      crossorigin="anonymous"
    ></script>

    <script src="/js/nav.js"></script>
    <title>Club Lectura</title>
  </head>
  <body>
    <div class="header" th:insert="fragments/header :: header"></div>
    <div class="nav" th:insert="fragments/nav :: nav"></div>
    <main>
      <h2>CLUB DE LECTURA</h2>
      <div>
        <p>
        ¡Oh!</p>
        <p>
        Lo sentimos mucho. </p>
        <p>No puedes acceder a esta página</p>
      </br>
        <p>
          Si estas interesado/a solo debes de registrarte como usuario.</br> De esta forma te podrás inscribir en el Club de lectura y zambullirte en miles
          de aventuras, viajar en el tiempo, transportarte a otros lugares y
          ser tú el protagonista de múltiples y diferentes vivencias...
          </p>
        </br>
          <p>
           Si esto es lo que deseas
          <span><a href="./registro">pulsa aquí.</a></span
          >
        </p>
      </div>
      <div class="lecturaElegida">
        <p>
          Te informamos que la lectura elegida para este mes es :
          <p class="letraEspecial"  th:text="${lectura.Libro.titulo}"></p>
        </p>
        <div>
          <img th:src="'/img/imgLibros/'+${lectura.Libro.imagen}" />
        </div>
      </div> 
       
    </main>
    <div class="footer" th:insert="fragments/footer :: footer"></div>
  </body>
</html>
