/**********   tipografia *********/
/*h1:  font: 2.2em MV boli, fantasy;*/
/*h2:  font: 1.2em Montserrat, fantasy;*/
/*h3:  font: 1rem "Lobster", "Impallari Type", "Cyreal";*/

/********** paleta de colores **********/
/* color  #f8e29b  (background body por si falla la imagen del)*/
/* color  #ab413d   (border nav, table)*/
/* color  #0281f7  (hover)*/
/* color #a1a84c  (background enlace)*/
/* color  rgb(167, 206, 207) (background aside)*/

* {
  font: 16px/1.6 Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/***************     tipografia     ***************/
h1,
h2,
h3 {
  color: #f7291e;
  text-align: center;
}
h3 {
  font: 1rem "Lobster", "Impallari Type", "Cyreal";
}
h2 {
  font: 1.5em Montserrat, fantasy;
}
h1 {
  font: 1.8rem Montserrat, fantasy;
}
h4 {
  font-weight: bold;
}
/***************     body     ***************/
html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 12% auto auto 10%;
  background-color: #f8e29b;
}
div > nav,
div > header {
  height: 100%;
}
/***************     header       ***************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1% 0px 0%;
}
header > img {
  height: 90%;
  object-fit: cover;
}
header > img:first-child {
  position: relative;
  left: 1%;
  animation: cambioTamanyo 7s linear;
}
/***************     nav     ***************/

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  border: #ab413d solid 3px;
}
nav li {
  width: 20%;
  text-align: center;
}

a {
  display: block;
  height: 100%;
  text-decoration: none;
  background-color: #a1a84c;
  font-size: 18px;
}

a:hover {
  background-color: #0281f7;
  color: #fae0cf;
}
.boton {
  width: 110px;
  height: 30px;
}
/***************   main    ***************/

h2 {
  text-align: center;
}
article {
  padding: 5px;
}
table {
  border-collapse: collapse;
  border: #ab413d solid 2px;
}
th {
  font-weight: bold;
  border: #ab413d solid 2px;
}

td {
  padding: 1px;
  border: #ab413d solid 2px;
}
/*.oculto{
  display:none;
  
}*/
section > iframe {
  width: 100vw;
  height: 13vh;
  border: none;
  overflow: hidden;
}
/***************   aside   ***************/
aside {
  background-color: rgb(167, 206, 207);
  padding: 5px;
}
aside > iframe {
  width: 100vw;
  height: 200px;
}
/***************     footer      ***************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
}

/*****************animations***********************/
@keyframes cambioTamanyo {
  0% {
    opacity: 0;
    left: 100%;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    left: 0%;
    transform: scale(1);
  }
}

/*****************media query***********************/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /*tr {
    border: 1px solid #ccc;
  }*/

  td {
    /*border: none;*/
    border-bottom: 1px solid #eee;
    position: relative;
    /*padding-left: 50%;*/
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1),
  td:nth-of-type(3),
  td:nth-of-type(5),
  td:nth-of-type(4),
  td:nth-of-type(6) {
    display: none;
  }
  tr:nth-of-type(1):before {
    content: "TITULO";
  }
  /*td:nth-of-type(2):before {
    content: "TITULO";
  }*/
  /*td:nth-of-type(3):before {
    content: "AUTOR";
  }*/
  /*td:nth-of-type(7):before {
    content: "RESERVA";
  }*/
}
@media (min-width: 760px) {
  h1 {
    font: 2.3rem Montserrat, fantasy;
  }
  a {
    padding: 0%;
    line-height: 12vh;
  }
  body {
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 12% auto 10%;
  }
  div:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  main {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  /*.oculto{
    display:inline;
  }*/
  section > iframe {
    width: 100vw;
    height: 28vh;
  }
  aside {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  div:last-child {
    grid-row: 4/5;
    grid-column: 1/3;
  }
  footer {
    justify-content: space-between;
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font: 3.2rem Montserrat, fantasy;
  }
}
