.boxBuscar {
  background-color: #a1a84c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.boxBuscar > input,
.boxBuscar > select,
.boxBuscar > form {
  text-align: center;
  margin: 5px;
  width: 20%;
  min-width: 200px;
  /* animation: cambioTamanyo 5s linear;*/
}

.boxBuscar > form input {
  width: 100%;
  min-width: 200px;
}

.bodytabla {
  position: relative;
}

/*.bodytabla img {
  width: 50%;
}*/

/*****************media query***********************/

@media (max-width: 800px) {
  .tablaCatalogo td:nth-child(1),
  .tablaCatalogo td:nth-child(3),
  .tablaCatalogo td:nth-child(5),
  .tablaCatalogo td:nth-child(4),
  .tablaCatalogo th:nth-child(1),
  .tablaCatalogo th:nth-child(3),
  .tablaCatalogo th:nth-child(5),
  .tablaCatalogo th:nth-child(4) {
    display: none;
  }
}
