/***************** acordeón ***********************/
.acordeon {
  background-color: rgb(161, 168, 76);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.acordeon:hover {
  background-color: rgb(204, 204, 204);
}
.panel {
  padding: 0 18px;
  background-color: rgb(227, 198, 136);
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.acordeon:after {
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  content: "\02795"; /* Unicode character for "plus" sign (+) */
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.btnAcordeon {
  width: 100%;
}
.btnAcordeon:hover {
  background-color: #0281f7;
  color: rgb(246, 247, 203);
}
/***************** tabla ***********************/

.table {
  display: table;
  border-collapse: collapse;
}
.tr {
  display: table-row;
}
.td,
.th {
  padding: 5px;
  text-align: center;
  display: table-cell;
}
.imagenAdmin {
  width: 100%;
  height: 89%;
}
.imagenAdmin img {
  padding: 10px 10px 0px 0px;
  width: 99%;
  min-height: 320px;
  max-height: 90%;
  object-fit: cover;
}
body {
  grid-template-rows: 100px 80px auto auto 60px;
}

body > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
body > div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
body > div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
body > section {
  grid-column: 1/2;
  grid-row: 4/5;
}
body > div:nth-child(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}
.ocultarMovil {
  display: none;
}
.imagenAdmin {
  display: none;
}
.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.fontpq {
  padding: 1px 0px;
  font: 14px;
}

.formPrest,
.formAdminClub {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: space-evenly;
}
.formPrest > div:nth-child(5) {
  justify-self: center;
}
.formPrest {
  grid-template-rows: 10vh 10vh 10vh 15vh auto;
}
.urlLectura {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/*****************media query***********************/
@media (min-width: 800px) {
  body {
    grid-template-columns: 28vw 72vw;
    grid-template-rows: 15% 12% auto 10%;
  }
  body > div:nth-child(1) {
    grid-column: 1/3;
  }
  body > div:nth-child(2) {
    grid-column: 1/3;
  }
  body > div:nth-child(3) {
    grid-column: 1/2;
  }
  body > section {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  body > div:nth-child(5) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .imagenAdmin {
    display: block;
  }
  .formPrest,
  .formAdminClub {
    grid-template-columns: auto auto;
    margin-top: 10px;
  }
  .formPrest {
    grid-template-rows: 15vh 20vh auto;
  }
  .formPrest > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .formPrest > div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .formPrest > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .formPrest > div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .formPrest > div:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .alturaMin {
    min-height: 230px;
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: 20vw 80vw;
  }
  .ocultarMovil {
    display: inline-flex;
  }

  .fontpq {
    padding: 2px 5px;
    font: 14px;
  }
  .formPrest > div:nth-child(4) {
    justify-self: end;
  }
}
