/***************     tipografia     ***************/
h4 {
  color: red;
}
label {
  font-weight: bold;
}
/***************     body     ***************/

body {
  grid-template-columns: 100%;
  grid-template-rows: 15% 12% auto 10%;
  background-color: #f8e29b;
}
nav,
header {
  height: 100%;
}
/***************     header       ***************/

header {
  justify-content: space-between;
  padding: 0px 1% 0px 0%;
}
header > img {
  height: 90%;
  object-fit: cover;
}
header > img:first-child {
  position: relative;
  left: 1%;
  animation: cambioTamanyo 7s linear;
}
/***************     nav     ***************/

/***************   main    ***************/
article {
  padding: 10px;
}
.bodytabla img {
  width: 50%;
}
/***************   aside   ***************/

/***************     footer      ***************/

/*****************media query***********************/

@media (min-width: 800px) {
  footer {
    justify-content: space-between;
    padding: 0 10px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font: 3rem Montserrat, fantasy;
  }
}
