/**********   tipografia *********/
/*h1:  font: 3.2rem Montserrat, fantasy;;*/
/*h2:  font: 1.2em Montserrat, fantasy;*/
/*h3:  font: 1rem "Lobster", "Impallari Type", "Cyreal";*/
/* .letraEspecial, libroClub, nombreUserIndex font: bold 2.5rem French Script MT;*/
/*todo font: 16px/1.6 Arial, Helvetica, sans-serif;*/
/********** paleta de colores **********/
/* color  rgb(248, 226, 155) (background body por si falla la imagen)*/
/* color  rgb(171,65,61)  (border nav, table)*/
/* color  #0281f7  (hover)*/
/* color rgb(161, 168, 76)  (background enlace)*/
/* color  rgb(167, 206, 207) (background aside)*/
/* color rgb(232, 53, 24)  (h1,h2)*/
/* color darkred (i)*/

* {
  font: 16px/1.6 Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/***************     tipografia     ***************/
h1 {
  font: 5vw Montserrat, fantasy;
  color: rgb(232, 53, 24);
}
h2 {
  font: 1.5rem Montserrat, fantasy;
  color: rgb(232, 53, 24);
  text-align: center;
  margin-top: 5px;
}
h3 {
  font: 1rem "Lobster", "Impallari Type", "Cyreal";
  text-align: center;
  color: rgb(232, 53, 24);
}
h4 {
  font-weight: bold;
}

small {
  font-size: 12px;
}
/***************     body     ***************/
body {
  display: grid;
}
/***************     header       ***************/

header {
  display: flex;
  align-items: center;
}

/***************   main    ***************/
main {
  padding: 10px;
}
.boton {
  width: 110px;
  height: 30px;
}
.boton:hover,
.btnDetRes:hover,
.boton2:hover,
.page-link:hover {
  background-color: rgb(2, 129, 247);
  color: rgb(246, 247, 203);
}
input,
select {
  height: 30px;
  max-height: 30px;
  padding-left: 5px;
}

input,
select,
.boton,
.btnDetRes,
.btnOjo {
  background-color: rgb(246, 247, 203);
}
i {
  margin-right: 5px;
  color: rgba(139, 0, 0);
}

.btnDetRes {
  width: 100%;
  height: 100%;
}
.pintaEnlace {
  color: rgb(2, 129, 247);
  font-weight: bold;
}
.trHover:hover {
  background-color: rgb(88, 63, 18);
  color: rgb(246, 247, 203);
}
textarea {
  width: 100%;
  display: block;
  line-height: 1.5;
  /* height: calc(font-size * line-height * rows); */
  height: calc(1.6em * 1.5 * 5);
  padding: 8px 8px;
}

/***************     footer      ***************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  height: 100%;
}

.pointer {
  cursor: pointer;
}
.ocultarMovil {
  display: none;
}
/*****************media query***********************/

@media (max-width: 800px) {
  input {
    height: 26px;
    max-height: 26px;
  }
}
/** general margin */

.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
