/***************     nav     ***************/
nav {
  background-color: rgb(161, 168, 76);
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.nav li {
  text-align: center;
}

.nav a {
  display: block;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 6px;
  color: black;
}

.nav a:hover {
  color: rgb(250, 224, 207);
  background-color: rgb(2, 129, 247);
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 2px 1px 4px white;
}

nav button {
  display: none;
  background-color: inherit;
  box-shadow: none;
  border: none;
}
nav > div > div button {
  display: block;
}
nav button i {
  margin-right: 0;
  width: 35px;
  height: 35px;
  font-size: 25px;
}
/* popup*/
.todapantalla {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(167, 206, 207, 0.6);
  z-index: 30;
  display: none;
}
.fragmentCarro {
  height: 100%;
}
.popup {
  padding: 38px 10px 38px 10px;
  position: relative;
  background: radial-gradient(
    ellipse,
    rgb(250, 224, 207) 30%,
    rgb(171, 65, 61) 95%
  );
  width: 85%;
  max-width: 435px;
  height: 100%;
  min-height: 250px;
  max-height: 350px;
  margin: 90px auto;
  z-index: 40;
  border: rgb(171, 65, 61) solid 2px;
  display: block;
  box-shadow: 10px 10px 8px rgb(161, 168, 76);
  /*overflow-y: scroll;*/
}
.popup > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popup > .btnirReserva {
  position: absolute;
  width: 200px;
  height: 35px;
  background-color: rgb(204, 204, 204);
  left: 25%;
  top: 80%;
}
.popup > button,
.mensajeentrante button {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(204, 204, 204);
  top: 0px;
  right: 0px;
}
.mensajeentrante {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  height: 30%;
  min-height: 100px;
  width: 25%;
  min-width: 300px;
  border: rgb(171, 65, 61) solid 2px;
  box-shadow: 10px 10px 8px #969c42;
  /*z-index: 100;*/
  background: radial-gradient(
    ellipse,
    rgb(250, 224, 207) 30%,
    rgb(171, 65, 61) 95%
  );
  padding: 10px 20px;
}

.oculto {
  display: none;
}
.textomensajeerror {
  text-align: center;
  margin-top: 20px;
}
/* tabla*/
table,
.table {
  border-collapse: collapse;
  border: rgb(171, 65, 61) solid 2px;
  width: 99%;
}
th,
.th {
  font-weight: bold;
  border: rgb(171, 65, 61) solid 2px;
  width: 60px;
  min-width: 60px;
}

td,
.td {
  padding: 1px 5px;
  border: rgb(171, 65, 61) solid 2px;
  text-decoration: none;
}

.thfalso {
  font-weight: bold;
  color: black;
}
.contenedorButton {
  position: absolute;
  width: 150px;
  height: 40px;
  top: calc(100%-10px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorButton button {
  position: relative;
  width: 50px;
  height: 40px;
}
/**************** paginación ******************/
.navPagination {
  margin-top: 10px;
  background-color: rgb(161, 168, 76);
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 5px;
}
.pagination {
  border: none;
}

.page-link {
  height: 100%;
  color: #000;
  display: block;
  background-color: rgb(171, 65, 61);
  width: 40px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-left: 5px;
}
/*****************media query***********************/

@media (max-width: 800px) {
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    width: 170px;
    height: 100vh;
    z-index: 100;
    display: none;
    flex-direction: column;
    background-color: inherit;
    overflow-y: auto;
  }
  nav > button {
    position: relative;
    top: 55%;
    left: 30px;
    transform: translateY(-50%);
  }
  nav button {
    display: block;
  }
  ul button {
    position: absolute;
    top: 2%;
    left: 75%;
  }
  .nav > ul > li {
    width: 98%;
    text-align: left;
  }

  .nav a {
    padding-left: 10px;
  }
  .popup {
    width: 80%;
    margin: 100px 2%;
    max-height: 370px;
  }
  .popup > .btnirReserva {
    top: 90%;
  }
  table,
  .table {
    width: 100%;
  }
}
