.continente {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 210px;
}
.contenedor_flip {
  width: 160px;
  height: 160px;
  margin: 10px;
}
.flip,
.flipa {
  width: 150px;
  height: 150px;
  position: relative;
}
.flip,
.flipa {
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
}
.flip {
  transform: rotate(-15deg);
  margin: 0px 5px 10px 5px;
}
.flipa {
  transform: rotate(15deg);
  margin: 10px 0 0 5px;
}
.contenedor_flip:hover .flip,
.contenedor_flip:hover .flipa {
  transform: perspective(600px) rotateY(-180deg) translateX(100%);
}
.flip-1,
.flip-2,
.flipa-1,
.flipa-2 {
  position: absolute;
  backface-visibility: hidden;
  width: 150px;
  height: 150px;
}
.flip-2,
.flipa-2 {
  transform: rotateY(-180deg);
}

.flipa-2 {
  background-color: rgb(250, 250, 176);

  padding: 5px;
}

@media (min-width: 800px) {
  .continente {
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    min-height: 210px;
  }
  .continente div:last-child {
    align-self: flex-end;
  }
}
