<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/estilos.css" rel="stylesheet" type="text/css" />
    <title>Inicio</title>
  </head>
  <body>
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/nav :: nav"></div>
    <main>
      <article>
        <h2>INFORMACIÓN</h2>
        <!--<div sec:authorize="isAuthenticated()">
          Welcome, <span sec:authentication="nombre">Visitante</span>
        </div>-->
        <!-- Welcome, <span sec:authentication="username">Visitante</span> -->

        <p th:switch="${session.nombre}">
          ¡Hola
          <span th:case="null">Visitante </span>
          <span th:case="*" th:text="${ session.nombre }"></span>
          !
        </p>
        <div
          th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}"
        >
          <span th:case="${false}">User is not logged in</span>
          <span th:case="${true}">Logged in user</span>
        </div>
        <div th:switch="${session.rol}">
          <span th:case="'ADMIN'">Es admin</span>
          <span th:case="*">No es admin</span>
        </div>
        <p>Bienvenido a la Web de la Agencia de Lectura.</p>
        <p>
          Puedes acceder a ver el catálogo de los libros que tenemos a tu
          disposición, reservar el libro que te interesa y pasar a recogerlo a
          nuestras instalaciones en horario de 17:00 h a 20:00h. de Lunes a
          Viernes, excepto festivos.<br />
          Para reservar un libro debes de ser usuario, sino lo eres todavia, ves
          al Login y Registrate.
        </p>
        <p>
          Puedes acceder al Club de Lectura y ver la lectura elegida. Si te
          gusta esa lectura y quieres participar debes de ser usuario y darte de
          alta en el club.
        </p>
      </article>
    </main>
    <aside>
      <h2>TABLÓN DE NOTAS</h2>
      <p>buzon sugerencias a la Agencia</p>
      <button>
        <a th:href="@{https://www.facebook.com/profile.php?id=100010844678861}"
          >Agencia de Lectura</a
        >
      </button>

      <iframe
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fseldageldo&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
      ></iframe>
    </aside>
    <div th:insert="fragments/footer :: footer"></div>
  </body>
</html>
